body {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 800px;
  margin: auto;
}

div.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

img {
  width: 100%;
}

.centered {
  text-align: center;
}
